.footer{
    background-color: black;
    color: white;
}
.footer a{
    text-decoration: none;
    color: white;
    opacity: 0.6;
}
.footer p{
    opacity: 0.6;
}
.footer .footer-border{
    border-bottom: 1px solid white;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.7;
}